@page
@using WscPrinter_Setup.ApiModels
@using WscPrinter_Setup.Libs.Session
@model WscPrinter_Setup.Pages.WscBuilder.Step07_choose_layout.Step07ChooseLayoutModel
@{

    string theGuid1 = Guid.NewGuid().ToString();
    string theGuid2 = Guid.NewGuid().ToString();
    bool MOCK_MODE = false;
    WebsiteEntity[] MokkaArray = {
      new WebsiteEntity { Img = "/img/sampleWebsitesPreview/DynamicSoft-small.png", TemplateId = theGuid1, TemplateName = "Dynamic Institutional", TargetLink = "https://www.dynamicsoft.it" }
        , new WebsiteEntity { Img = "/img/sampleWebsitesPreview/SviluppoWscPrinter-small.png", TemplateId = theGuid2, TemplateName = "WscPrinter test", TargetLink = "https://sviluppo.wscprinter.it" }
        , new WebsiteEntity { Img = "/img/sampleWebsitesPreview/template-small.png", TemplateId = theGuid1, TemplateName = "Dynamic Institutional", TargetLink = "https://www.dynamicsoft.it" }
        , new WebsiteEntity { Img = "/img/sampleWebsitesPreview/SviluppoWscPrinter-small.png", TemplateId = theGuid2, TemplateName = "WscPrinter test", TargetLink = "https://sviluppo.wscprinter.it" }
        , new WebsiteEntity { Img = "/img/sampleWebsitesPreview/DynamicSoft-small.png", TemplateId = theGuid1, TemplateName = "Dynamic Institutional", TargetLink = "https://www.dynamicsoft.it" }
        , new WebsiteEntity { Img = "/img/sampleWebsitesPreview/SviluppoWscPrinter-small.png", TemplateId = theGuid2, TemplateName = "WscPrinter test", TargetLink = "https://sviluppo.wscprinter.it" }
        , new WebsiteEntity { Img = "/img/sampleWebsitesPreview/template-small.png", TemplateId = theGuid1, TemplateName = "Dynamic Institutional", TargetLink = "https://www.dynamicsoft.it" }
        , new WebsiteEntity { Img = "/img/sampleWebsitesPreview/SviluppoWscPrinter-small.png", TemplateId = theGuid2, TemplateName = "WscPrinter test", TargetLink = "https://sviluppo.wscprinter.it" }
        , new WebsiteEntity { Img = "/img/sampleWebsitesPreview/DynamicSoft-small.png", TemplateId = theGuid1, TemplateName = "Dynamic Institutional", TargetLink = "https://www.dynamicsoft.it" }
    };
    List<WebsiteEntity> theLItems = new List<WebsiteEntity>();
    if (MOCK_MODE)
    {
        theLItems.Concat(MokkaArray);
    }
    //
    if (Model.ResponseCacheAttributeFromServer != null)
    {
        foreach (WebsiteEntity theEnt in Model.ResponseCacheAttributeFromServer)
        {
            theLItems.Add(theEnt);
        }
    }
    WebsiteEntity[] theItems = theLItems.ToArray();


    string[] fakeimgs = {
    "/img/sampleWebsitesPreview/DynamicSoft-small.png"
    , "/img/sampleWebsitesPreview/SviluppoWscPrinter-small.png"
    , "/img/sampleWebsitesPreview/template-small.png"
  };

    string[] cssClasses = {
    "left withbord"
    , "middle withbord"
    , "right withbord"
  };
    ViewData["Title"] = "Step 7";
}
<!--
=============================================
  WBUILDER - STEP 7
==============================================
-->
<div class="app-screen-preview-two lg-container wbuilder-hidden" id="isLoaded">
    <div class="container">
        <div class="wbuilder-info-2 text-center mb-0 md-mb-20">
            <div class="logo mt-20 md-mt-10"><a href="#"><img src="/images/website/logo_wscprinter.png" alt=""></a></div>
            <h2 class="mt-20 md-mt-10"><b> Scegli il design per il tuo sito Web To Print</b></h2>
            <p class="mt-20">Woow! Questi siti sono stati fatti su misura per te.<br /> Puoi vedere l'anteprima di tutti e scegliere il tuo preferito. Potrai personalizzarli in secondo momento.</p>
        </div>
    </div>
</div>
<div class="app-screen-preview-two lg-container" id="isLoading">
    <div class="container">
        <div class="wbuilder-info-2 text-center mb-0 md-mb-20">
            <div class="logo mt-20 md-mt-10"><a href="#"><img src="/images/website/logo_wscprinter.png" alt=""></a></div>
            <h2 class="mt-20 md-mt-10"><b>Stiamo creando i tuoi design personalizzati</b></h2>
            <p class="mt-20">Attendi qualche secondo <br /><img src="/images/website/wait_preview.gif" alt="" style="display: inline;"></p>
        </div>
    </div>
</div>
<div class=" pb-50 md-pt-0 md-pb-150">

    <div class="wbuild-large-container">

        <div class="row">
            @for (int xxx = 0; xxx < theItems.Length; xxx++)
            {
                <div class="col-lg-4">
                    <div class="theme-demo isreadyimage mb-50 md-mb-50" onmouseover="scrollImage_hover();" id="container_@theItems[xxx].TemplateId">
                        <div class="content-wrapper">
                            <div class="title-wrapper">
                                <button onclick="openTabWithLink('@theItems[xxx].TargetLink', '@theItems[xxx].TemplateId')" class="preview"><span class="link-wrapper"> Anteprima <i class="fa fa-external-link"></i></span></button>
                                <button onclick="buytheLink('@theItems[xxx].TargetLink', '@theItems[xxx].TemplateId', '@theItems[xxx].TemplateName', '@theItems[xxx].Img' )" class="choose"><span class="link-wrapper">Usa questo design</span></button>
                            </div>
                        </div>
                        <div class="image-wrapper">
                            <img id="@theItems[xxx].TemplateId" src="/images/website/20817-skeleton-loading-card.gif" alt="">
                        </div>
                    </div>
                </div>
            }
        </div>
        <form style='display:none;' action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads1795052000035365001 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory1795052000035365001()' accept-charset='UTF-8'>
            <input type='text' style='display:none;' name='xnQsjsdp' value='2e090d687bc552d360e813030b033a2dc52ee287e50c67919e764aeef82df157'></input>
            <input type='hidden' name='zc_gad' id='zc_gad' value=''></input>
            <input type='text' style='display:none;' name='xmIwtLD' value='0325ad63cb1977f1588ef4966203579762d19229bf5cda964b55df19d18f6f5c'></input>
            <input type='text' style='display:none;' name='actionType' value='TGVhZHM='></input>
            <input type='text' style='display:none;' name='returnURL' value='' id="redicrectUrlZoho"> </input>
            <select class='zcwf_col_fld_slt' id='LEADCF19' name='LEADCF19'>
                <option value='-None-'>-None-</option>
                <option selected value='Alessia Limone'>Alessia Limone</option>
                <option value='Alfonso&#x20;D&#x27;Antuono'>Alfonso D&#x27;Antuono</option>
                <option value='Federica&#x20;Pisani'>Federica Pisani</option>
                <option value='Maria&#x20;Castelluccio'>Maria Castelluccio</option>
                <option value='Michele&#x20;Ingenito'>Michele Ingenito</option>
            </select>
            <select class='zcwf_col_fld_slt' id='Lead_Status' name='Lead Status'>
                <option value='-None-'>-None-</option>
                <option selected value='Attivo'>Attivo</option>
                <option value='Convertito&#x20;in&#x20;potenziale'>Convertito in potenziale</option>
                <option value='Perso'>Perso</option>
                <option value='Prospect'>Prospect</option>
                <option value='Rifiutato'>Rifiutato</option>
                <option value='Non&#x20;qualificato'>Non qualificato</option>
            </select>
            <select class='zcwf_col_fld_slt' id='Lead_Source' name='Lead Source'>
                <option value='-None-'>-None-</option>
                <option value='Pubblicit&agrave;'>Pubblicit&agrave;</option>
                <option value='Webinar&#x20;produzione&#x20;-&#x20;ottobre&#x20;2017'>Webinar produzione - ottobre 2017</option>
                <option value='Chiamata&#x20;urgente'>Chiamata urgente</option>
                <option value='Segnalazione&#x20;dipendente'>Segnalazione dipendente</option>
                <option value='Collegamenti&#x20;esterni'>Collegamenti esterni</option>
                <option value='Negozio&#x20;online'>Negozio online</option>
                <option value='Partner'>Partner</option>
                <option value='Relazioni&#x20;pubbliche'>Relazioni pubbliche</option>
                <option value='Mail&#x20;vendite'>Mail vendite</option>
                <option value='Partner&#x20;seminario'>Partner seminario</option>
                <option value='Seminario&#x20;-&#x20;interno'>Seminario - interno</option>
                <option value='Mostra&#x20;affari'>Mostra affari</option>
                <option value='Download&#x20;via&#x20;Web'>Download via Web</option>
                <option value='Ricerca&#x20;sul&#x20;web'>Ricerca sul web</option>
                <option value='Chat'>Chat</option>
                <option value='Dynamicsoft.it'>Dynamicsoft.it</option>
                <option selected value='Wscprinter.it'>Wscprinter.it</option>
                <option value='Lostampatorefelice.it'>Lostampatorefelice.it</option>
                <option value='Google&#x20;AdWords'>Google AdWords</option>
                <option value='Ricerca&#x20;online'>Ricerca online</option>
            </select>
            <select class='zcwf_col_fld_slt' id='LEADCF8' name='LEADCF8'>
                <option value='-None-'>-None-</option>
                <option value='Nessuna'>Nessuna</option>
                <option value='Demo&#x20;Wsc&#x20;Printer'>Demo Wsc Printer</option>
                <option value='Informazioni'>Informazioni</option>
                <option value='Dynamicsoft&#x20;Program'>Dynamicsoft Program</option>
                <option value='Attivazione&#x20;Promo'>Attivazione Promo</option>
                <option value='Voucher&#x20;digitalizzazione'>Voucher digitalizzazione</option>
                <option value='Informazioni&#x20;Promo&#x20;Wsc&#x20;Printer&#x20;Ecommerce'>Informazioni Promo Wsc Printer Ecommerce</option>
                <option value='Informazioni&#x20;Wsc&#x20;Printer&#x20;Industry&#x20;4.0'>Informazioni Wsc Printer Industry 4.0</option>
                <option selected value='Creazione Wsc Printer Builder'>Creazione Wsc Printer Builder</option>
            </select>
            <input type='text' id='Company' name='Company' maxlength='200' value='@Model.theWalkingUser.SiteName'></input>
            <input type='text' id='Last_Name' name='Last Name' maxlength='80' value='@Model.theWalkingUser.UserDeclaredName'></input>
            <input type='text' ftype='email' id='Email' name='Email' maxlength='100' value='@Model.theWalkingUser.UserEmail'></input>
            <input type='text' id='Phone' name='Phone' maxlength='30' value='@Model.theWalkingUser.UserPhone'></input>
            <input type='text' id='LEADCF23' name='LEADCF23' maxlength='255' value=''></input>
            <input type='text' id='LEADCF24' name='LEADCF24' maxlength='450' value=''></input>
            <input type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Conferma' title='Conferma'>
        </form>
    </div>
</div>


<script type="text/javascript">
  const alltemplatesCount = @theItems.Length;
  const MAX_RETRIES = 10;
  document.addEventListener('DOMContentLoaded'
    , (event) => {
      @for (int xxx = 0; xxx < theItems.Length; xxx++) {
        @:initImgWaiter('@theItems[xxx].TemplateId', 'divWithBckGndStImg_@xxx', '@theItems[xxx].Img', 0);
      }
    }
  );

  function initImgWaiter(key, divContainerId, ImgLink){

    checkImageIsReady(key, divContainerId, ImgLink, 0);
  }

  function replaceImage(divContainerId, imgLink) {
      $("#" + divContainerId).attr("src", imgLink);
        $("#container_" + divContainerId).removeClass( "isreadyimage" )
  }


    function openTabWithLink(theLink, theKey) {
    const url = '@Model.theApiServerConf.EndpointsUrl';
    const endpoint = '@Model.theApiServerConf.SetVisitedTemplateSite';
    const authtoken = '@Model.theApiServerConf.ApiServerToken';
    const uri = `${url}${endpoint}?authtoken=${authtoken}&key=${theKey}`;

    const xhr = new XMLHttpRequest();
    xhr.open('GET', uri, true);

        xhr.onload = function () {
            if (this.status == 200) {
                if (this.responseText.toLowerCase() === "true") {
                    var cookievalue = "SelectedLink=" + theLink + "; path=/";
                    document.cookie = cookievalue;
                    checkRedirect()
                    //const theForm = document.getElementById("formPreview_"+theKey);
                    //theForm.submit()
                    // elem = document.getElementById("link_"+theKey);
                    //elem.click();
                    //window.open(link, '_blank').focus();
                }
            }
        };
        xhr.send(null);
    }

    function redirect() {
        var link = `/WscBuilder/TemplatePreview/Index`
        $('<a href="' + link + '" target="_blank"></a>')[0].click();
    }

    function checkRedirect() {
        let value = getCookie("SelectedLink");
        if (value != null || value != "") {
           setTimeout(function(){  redirect(); }, 200);
        }
        else {
            checkRedirect()
        }
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function buytheLink(theLink, theKey, templateName, imgLink) {

    const url = '@Model.theApiServerConf.EndpointsUrl';
    const endpoint = '@Model.theApiServerConf.SetSelectedTemplatePath';
    const authtoken = '@Model.theApiServerConf.ApiServerToken';
    const uri = `${url}${endpoint}?authtoken=${authtoken}&key=${theKey}`;

    const xhr = new XMLHttpRequest();
    xhr.open('GET', uri, true);

    xhr.onload = function () {
        if (this.status == 200) {
            if (this.responseText.toLowerCase() === "true") {
                document.getElementById("LEADCF24").setAttribute('value', theLink);
                document.getElementById("LEADCF23").setAttribute('value', theKey);
                const theForm = document.getElementById("formsubmit");
                var site = `https://www.wscprinter.it/WscBuilder/Step08_ready_to_go/Index?`
                    + `theLink=${encodeURIComponent(theLink)}`
                    + `&templateName=${encodeURIComponent(templateName)}`
                    + `&imgLink=${encodeURIComponent(imgLink)}`
                    + `&templateId=${theKey}`;

                document.getElementById("redicrectUrlZoho").setAttribute('value', site);

                theForm.click()
                //alert(`you choose to buy ${theLink} - ${theKey} !!!`);
            }
        }
    };

    xhr.send(null);

  }



  function checkImageIsReady(theKey, divContainerId, imgLink, attemptNowIs) {
    //console.log("qui daniel")
	const url = '@Model.theApiServerConf.EndpointsUrl';
    const endpoint = '@Model.theApiServerConf.CheckImgPath';
    const authtoken = '@Model.theApiServerConf.ApiServerToken';
    const uri = `${url}${endpoint}?authtoken=${authtoken}&key=${theKey}`;

    const xhr = new XMLHttpRequest();
    xhr.open('GET', uri, true);

    xhr.onload = function () {
      if (this.status == 200) {
        if (this.responseText.toLowerCase() === "true") {
            //console.log(`image ${theKey} is ready`);
            replaceImage(theKey, imgLink);
            $("#isLoaded").removeClass("wbuilder-hidden");
            $("#isLoading").addClass("wbuilder-hidden");
        } else {
          if (attemptNowIs++ < MAX_RETRIES) {
            //console.log(`${attemptNowIs} - still waiting for image ${theKey}`);
            setTimeout(checkImageIsReady.bind(null, theKey, divContainerId, imgLink, attemptNowIs), 5000);
          } else {
            //console.log(`${attemptNowIs} - giving up on image ${theKey}`);
          }
        }
      }
    };

    xhr.send(null);
    }
</script>

<script>


    function checkMandatory1795052000035365001() {
        var mndFileds = new Array('Last Name');
        var fldLangVal = new Array('Cognome');
        for (i = 0; i < mndFileds.length; i++) {
            var fieldObj = document.forms['WebToLeads1795052000035365001'][mndFileds[i]];
            if (fieldObj) {
                if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length == 0) {
                    if (fieldObj.type == 'file') {
                        alert('Selezionare un file da caricare.');
                        fieldObj.focus();
                        return false;
                    }
                    alert(fldLangVal[i] + ' non può essere vuoto.');
                    fieldObj.focus();
                    return false;
                } else if (fieldObj.nodeName == 'SELECT') {
                    if (fieldObj.options[fieldObj.selectedIndex].value == '-None-') {
                        alert(fldLangVal[i] + ' non può essere nessuno.');
                        fieldObj.focus();
                        return false;
                    }
                } else if (fieldObj.type == 'checkbox') {
                    if (fieldObj.checked == false) {
                        alert('Please accept  ' + fldLangVal[i]);
                        fieldObj.focus();
                        return false;
                    }
                }
                try {
                    if (fieldObj.name == 'Last Name') {
                        name = fieldObj.value;
                    }
                } catch (e) { }
            }
        }

        //document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
    }


</script>

<!--<a asp-page="/WscBuilder/Step08_ready_to_go/Index">Click</a>-->