@page
@model WscPrinter_Setup.Pages.WscBuilder.Step05_website_name_email_and_logo.Step05WebsiteNameEmailAndLogoModel
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
  var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<style>

  #drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
  }

    #drop-area.highlight {
      border-color: purple;
    }

  p {
    margin-top: 0;
  }

  .my-form {
    margin-bottom: 10px;
  }

  #gallery {
    margin-top: 10px;
  }

    #gallery img {
      width: 150px;
      margin-bottom: 10px;
      margin-right: 10px;
      vertical-align: middle;
    }

  .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

    .button:hover {
      background: #ddd;
    }

  #fileElem {
    display: none;
  }
</style>





<h1>Step 5</h1>
<p>@Localizer["Tell us a little about you"]</p>

<div>
  <p>@Localizer["insert your data"]</p>
  <form id="selectSitenameEmailLogo" asp-page="/WscBuilder/Step06_choose_skin_and_styles/Index"
        method="post" class="form-horizontal" role="form">
    <input type="text" name="SiteName" id="id_websitename" /> <label for="id_websitename">@Localizer["website name"]</label><br />
    <input type="email" name="UserEmail" id="id_email" /> <label for="id_email">@Localizer["email"]</label><br />
    <input type="hidden" name="CompanyLogo" id="id_CompanyLogo" />
  </form>
</div>
<div>
  <button class="btn btn-secondary" onclick="toggleVisible('id_formImage')">@Localizer["Add your company logo if you like..."]</button>
  <div id="id_formImage" style="display: none;">
    <p>MECH 1</p>
    <form id="formfile1"  enctype="multipart/form-data">
      <!--method="post" onsubmit="AJAXSubmit(this)">-->
      <dl>
        <dt>
          <label asp-for="FileUpload.FormFile"></label>
        </dt>
        <dd>
          <input asp-for="FileUpload.FormFile" type="file" onchange="loadFile(event)">
        </dd>
      </dl>
      <button asp-page-handler="Upload" class="btn btn-secondary" type="button" value="Upload" onclick="submitFormImage1(this)">@Localizer["Load file"]</button>
      <div style="margin-top:15px">
        <output name="result"></output>
      </div>
    </form>
    <p><img id="smallPreview" width="50" /></p>
    <br />
    <p>MECH 2</p>
    <div id="drop-area">
      <form class="my-form">
        <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
        <input type="file" id="fileElem" asp-for="FileUpload.FormFile" multiple accept="image/*" onchange="handleFiles(event)">
        <label class="button" for="fileElem">Select some files</label>
      </form>
    </div>
    <div id="gallery"></div>
  </div>
</div>
<br />
<br />
<div>
  <button class="btn btn-secondary" onclick="submitAll()">@Localizer["Confirm"]</button>

</div>
<script>
  "use strict";
  function submitAll() {
    document.getElementById("selectSitenameEmailLogo").submit();
  }
  function submitFormImage1(evt) {
    console.log(evt);
    let theForm = document.getElementById("formfile1");
    AJAXSubmit(theForm);
  }
  function AJAXSubmit(oFormElement) {
    if (!oFormElement.elements.namedItem("FileUpload_FormFile").value) {
      alert("insert file name...");
      return false;
    };

    var oReq = new XMLHttpRequest();
    oReq.open("post", `${oFormElement.action}?handler=Upload`);

    // oReq.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
    oReq.setRequestHeader("XSRF-TOKEN", '@token');

    oReq.onload = function(e) {
    oFormElement.elements.namedItem("result").value =
      this.status === 200 ?
      '@Localizer["File upload completed"]' : '@Localizer["Confirm"]';
    };
    oReq.send(new FormData(oFormElement));
  }
  function loadFile(event) {
    var image = document.getElementById('smallPreview');
    document.getElementById("id_CompanyLogo").value = event.target.files[0];
    image.src = URL.createObjectURL(event.target.files[0]);
  };
  function toggleVisible(psdId) {
    var elem = document.getElementById(psdId);
    elem.style.display = (elem.style.display === 'none') ? 'block' :'none';
  }
  //
  //  https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
  //
  //
  // drop area
  //
  let dropArea = null;
  document.addEventListener('DOMContentLoaded', (event) => {
    //
    var form = document.getElementById("formfile1");
    function handleForm(event) {
      event.preventDefault();
      // AJAXSubmit(event);
    }
    form.addEventListener('submit', handleForm);
    //
    dropArea = document.getElementById('drop-area');
    //
    ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
      dropArea.addEventListener(eventName, preventDefaults, false)
    })
    //
    ;['dragenter', 'dragover'].forEach(eventName => {
      dropArea.addEventListener(eventName, highlight, false)
    })
    ;['dragleave', 'drop'].forEach(eventName => {
      dropArea.addEventListener(eventName, unhighlight, false)
    })
    //
    dropArea.addEventListener('drop', handleDrop, false)
    //
  })
  //
  //
  function preventDefaults(e) {
    e.preventDefault()
    e.stopPropagation()
  }
  function highlight(e) {
    dropArea.classList.add('highlight')
  }
  function unhighlight(e) {
    dropArea.classList.remove('highlight')
  }
  function handleDrop(e) {
    let dt = e.dataTransfer
    let files = dt.files

    handleFiles(files)
  }
  function handleFiles(files) {
    files = [...files]
    files.forEach(uploadFile)
    files.forEach(previewFile)
  }
  function uploadFile(file) {
    let url = '@Url.Page("", "Upload")';
    let theHeaders = new Headers({
      'XSRF-TOKEN': '@token',
      'Content-Type': 'multipart/form-data'
    });

    let formData = new FormData();
    // .append('file', file);
    formData.append('file', file);

    fetch(url, {
      method: 'POST',
      body: formData,
      headers: theHeaders
    })
    .then(() => {
      alert( "OK" );
    })
    .catch((excp) => {
      alert( "KO" );
      console.error(excp);
    });
  }
  function previewFile(file) {
    let reader = new FileReader()
    reader.readAsDataURL(file)
    reader.onloadend = function () {
      let img = document.createElement('img')
      img.src = reader.result
      document.getElementById('gallery').appendChild(img)
    }
  }

</script>



<!--<a asp-page="/WscBuilder/Step06_choose_skin_and_styles/Index">Click</a>-->
