@page
@model WscPrinter_Setup.Pages.WscBuilder.Step05_website_name_email_and_logo.Step05WebsiteNameEmailAndLogoModel
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
    ViewData["Title"] = "Step-5";
}

<style>
</style>

<!--
=============================================
  WBUILDER - STEP 5
==============================================
-->
<div class="wbuilder-page">
    <div class="wbuilder-column-1 d-lg-flex align-items-center">
        <div class="wbuilder-img-logo"><a asp-area="" asp-page="/Index"><img src="/images/website/logo_wscprinter.png" alt=""></a></div>
        <div class="wbuilder-info" data-aos="fade-right" data-aos-duration="1200">
            <h2>Aggiungi queste informazioni basiche   <br />  per il tuo nuovo <br />sito Web To Print </h2>
        </div>
    </div>
    <div class="wbuilder-column-2 d-lg-flex align-items-center">
        <div class="wbuilder-info" data-aos="fade-left" data-aos-duration="1200">
            <p class="text"><b>Facile come bere un bicchier d'acqua</b><br /> Carica il tuo logo se ne hai uno a disposizione, scrivi il nome della tua attività<br /> o sito web, inserisci la tua email.   </p>
            <form class="form-horizontal" role="form" id="formfile0">
                <div class="step-block">
                    <div class="row">

                        <div class="col-sm-12 " id="drop-area">
                            <div class="form-group form-group-2">
                                <label class="custom-file img-responsive" for="FileUpload_FormFile"><img src="/images/website/upload_logo.png" alt="" onclick="clickTheFileControl(event)"><p>Clicca qui per caricare il tuo logo </p></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="file" asp-for="FileUpload.FormFile" multiple accept="image/*" onchange="handleFile(event)" style="display: none;">
                            </div>
                        </div>
                        <div class="col-sm-12 wbuilder-hidden" id="uploadSuccessContainer">
                            <div class="form-group" id="containerGallery">
                                @*<progress id="progress-bar" max=100 value=0></progress>*@
                                <div id="gallery" class="galleryclass"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form id="selectSitenameEmailLogo" asp-page="/WscBuilder/Step06_choose_skin_and_styles/Index"
                  method="post" class="form-horizontal" role="form">
                <div class="step-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" type="text" autocomplete="nope" name="SiteName" id="id_websitename" placeholder="Scrivi il nome della tua attività" required /> <!--<label for="id_websitename">@Localizer["website name"]</label><br />-->
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">


                                <input class="form-control" type="email" autocomplete="nope" name="UserEmail" id="id_email" placeholder="Scrivi la tua email" required /> <!--<label for="id_email">@Localizer["email"]</label><br />-->
                                <input type="hidden" name="CompanyLogo" id="id_CompanyLogo" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="text" autocomplete="nope" name="UserDeclaredName" id="id_UserDeclaredName" placeholder="Scrivi il tuo nome" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control input-no-arrows" type="number" autocomplete="nope" name="UserPhone" id="id_UserPhone" placeholder="Scrivi il tuo numero di telefono" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wbuilder-button" data-aos="fade-left" data-aos-duration="1200">
                    <button class="theme-btn-nine">Continua</button>
                </div>
                <div class="wbuilder-terms pt-20">
                    Cliccando su continua, io accetto la normativa sulla <a href="https://www.dynamicsoft.it/informativa-privacy/" target="_blank"></a>
                </div>
            </form>
        </div>
    </div>
</div>

<!--
<div>
  <button class="btn btn-secondary" onclick="toggleVisible('id_formImage')">@Localizer["Add your company logo if you like..."]</button>
  <div id="id_formImage" style="display: none;">
    <div id="drop-area">
      <form class="my-form" id="formfile0">
        <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
        <div class="col-sm-12">
          <div class="form-group form-group-2">
            <input type="file" asp-for="FileUpload.FormFile" multiple accept="image/*" onchange="handleFile(event,0)" hidden="">
            <label class="custom-file" for="logo_upload"><img src="/images/website/upload_logo.png" alt="" class="img-responsive" onclick="clickTheFileControl()"><p>Clicca qui per caricare il tuo logo </p></label>
          </div>
        </div>



      </form>
      <progress id="progress-bar" max=100 value=0></progress>
      <div id="gallery" />
    </div>
    <div style="margin-top:15px">

    </div>

  </div>
</div>
  -->
<output name="result" id="result_out"></output>

<script>
  "use strict";
  //
  //
  // inspired by (mixed):
  // https://codepen.io/joezimjs/pen/yPWQbd
  // https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
  // https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-5.0
  //
  //
  //
  function submitAll() {
    document.getElementById("selectSitenameEmailLogo").submit();
  }
  function submitFormImage0(evt, idFile) {
    //console.log(evt);
      let theForm = document.getElementById("formfile0");
    AJAXSubmit(theForm, idFile);
  }
    function AJAXSubmit(oFormElement, idFile) {
        $("#uploadSuccessContainer").removeClass("wbuilder-hidden");
        var div = "<div id=\"loaderGallery\"class=\"progress\"><span class=\"progress-left\"><span class=\"progress-bar\"></span> </span> <span class=\"progress-right\"> <span class=\"progress-bar\"></span> </span></div>";
        $("#containerGallery").append(div)
        $("#gallery").addClass("wbuilder-hidden")
        
        //if (!oFormElement.elements.namedItem("FileUpload_FormFile").value) {
        // alert("insert file name...");
        //return false;
        //};

        var oReq = new XMLHttpRequest();
        oReq.open("post", `${oFormElement.action}?handler=Upload`);

        // PROGRESS BAR EVT LISTENER
        oReq.upload.addEventListener("progress", function (e) {
            updateProgress(idFile, (e.loaded * 100.0 / e.total) || 100)
        });


        // oReq.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
        oReq.setRequestHeader("XSRF-TOKEN", '@token');

        oReq.onload = function (e) {
            document.getElementById("result_out").value =
            this.status === 200 ?
            '@Localizer["File upload completed"]' : '@Localizer["Confirm"]';
        };
        oReq.send(new FormData(oFormElement));
        
    }
  function toggleVisible(psdId) {
    var elem = document.getElementById(psdId);
    elem.style.display = (elem.style.display === 'none') ? 'block' :'none';
  }
  //
  //  https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
  //
  //
  // drop area
  //
  let dropArea = null;
  let uploadProgress = [];
  let filesDone = 0
  let filesToDo = 0
  let progressBar = null;
  document.addEventListener('DOMContentLoaded', (event) => {
    //
    var form = document.getElementById("formfile0");
    //progressBar = document.getElementById('progress-bar')
    function handleForm(event) {
      preventDefaults(e);
    }
    // form.addEventListener('submit', handleForm);
    //
    dropArea = document.getElementById('drop-area');
    //
    ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
      dropArea.addEventListener(eventName, preventDefaults, false)
    })
    //
    ;['dragenter', 'dragover'].forEach(eventName => {
      dropArea.addEventListener(eventName, highlight, false)
    })
    ;['dragleave', 'drop'].forEach(eventName => {
      dropArea.addEventListener(eventName, unhighlight, false)
    })
    //
    dropArea.addEventListener('drop', handleDrop, false)
    //
  })
  //
  //
  // progress
  //
  function initializeProgress(numFiles) {
    //progressBar.value = 0
    //uploadProgress = []

    //for (let i = numFiles; i > 0; i--) {
    //  uploadProgress.push(0)
    //}
  }

  function updateProgress(fileNumber, percent) {
    //uploadProgress[fileNumber] = percent
    //let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length
    //progressBar.value = total
  }

  //
  //
  function preventDefaults(e) {
    e.preventDefault()
    e.stopPropagation()
  }
  function highlight(e) {
    dropArea.classList.add('highlight')
  }
  function unhighlight(e) {
    dropArea.classList.remove('highlight')
  }
  function handleDrop(e) {
    //if (fileCounter > 0) {
    //  preventDefaults(file);
    //  return;
    //}

    let dt = e.dataTransfer
    let files = dt.files

    handleFiles(files)
  }
  let fileCounter = 0;
  //
  // file input is hidden, so it is not clickable....
  function clickTheFileControl(evt) {
    //if (fileCounter > 0) {
    //  preventDefaults(evt);
    //  return;
    //}
    elem = document.getElementById("FileUpload_FormFile");
    if (elem && document.createEvent) {
      var evt = document.createEvent("MouseEvents");
      evt.initEvent("click", true, false);
      elem.dispatchEvent(evt);
    }
    // elem.click();
  }
  // handle file
  function handleFile(file) {
    //if (fileCounter > 0) {
    //  preventDefaults(file);
    //  return;
    //}
      console.log(file)
    submitFormImage0(file, fileCounter);
    previewFile0(file.target.files[fileCounter]);
    //fileCounter++;
  }
  function handleFiles(files) {
    files = [...files];
    initializeProgress(files.length);
    files.forEach((el, idx) => handleFile(el, idx));
  }


  //
  // previews ....
  //


  function previewFile0(file) {
    previewFileOnEl(file, 'gallery');
  }
  function previewFileOnEl(file, elemId) {
      let reader = new FileReader()
    reader.readAsDataURL(file)
    reader.onloadend = function () {
      let img = document.createElement('img')
        img.src = reader.result
        img.classList.add("img-thumbnail");


        document.getElementById(elemId).innerHTML = ""
        document.getElementById(elemId).appendChild(img)
            
        setTimeout(function () {
            $("#gallery").removeClass("wbuilder-hidden")
            $( "#loaderGallery" ).remove();
        }, 3000);
    }
  }


</script>


