@page
@model WscPrinter_Setup.Pages.WscBuilder.Step03_products_sold.Step03ProductsSoldModel
@{
  List<SelectListItem> prodItems = new List<SelectListItem> {
      new SelectListItem { Value = "CRT", Text = "carta" }
      , new SelectListItem { Value = "STP", Text = "stampanti"  }
      , new SelectListItem { Value = "CMP", Text = "computers"  }
      , new SelectListItem { Value = "CNC", Text = "cancelleria"  }
      , new SelectListItem { Value = "GMM", Text = "gomme"  }
      , new SelectListItem { Value = "RGH", Text = "righelli"  }
      , new SelectListItem { Value = "TTT", Text = "etichette"  }
      , new SelectListItem { Value = "PNN", Text = "pennarelli"  }
  };
}

<h1>Step 3</h1>
<p>@Localizer["tell us about the products you sell"]</p>

<div>
  <form id="selectProductsSold" asp-page="/WscBuilder/Step04_reference_websites/Index"
        method="post" class="form-horizontal" role="form">
    <label>@Localizer["Products Type:"]</label>
    <select name="ProductsSoldSel" on-change="this.form.submit()" asp-items="prodItems"></select><br/>


    @for (var i = 0; i < 8; i++) {
      <input name="ProductsSold" type="checkbox" value="@prodItems[i].Value" /> @prodItems[i].Text<br />
    }


    <button class="btn btn-secondary" type="submit">@Localizer["Confirm"]</button>
  </form>
</div>





<!--<a asp-page="/WscBuilder/Step04_reference_websites/Index">@Localizer["Go to next step"]</a>-->
