@page
@model WscPrinter_Setup.Pages.WscBuilder.Step02_company_type.Step02CompanyTypeModel
@{
  List<SelectListItem> socItems = new List<SelectListItem> {
      new SelectListItem { Value = "BLN", Text = "baleniera" }
      , new SelectListItem { Value = "RTF", Text = "rotofortitorni"  }
      , new SelectListItem { Value = "GRF", Text = "grafica"  }
      , new SelectListItem { Value = "PLS", Text = "poli lembo stratigrafica"  }
      , new SelectListItem { Value = "KRT", Text = "Kilo paccio femorilica"  }
      , new SelectListItem { Value = "PRT", Text = "pattu remo trebisondica"  }
      , new SelectListItem { Value = "TPS", Text = "trapparessa"  }
      , new SelectListItem { Value = "CCC", Text = "Caciucco"  }
  };
}

<h1>Step 2</h1>
<p>@Localizer["tell us your company type"]</p>

<div>
  <form id="selectCompanyType" asp-page="/WscBuilder/Step03_products_sold/Index"
        method="post" class="form-horizontal" role="form">
    <label>@Localizer["Company Type:"]</label>
    <select name="CompanyTypeSel" on-change="this.form.submit()" asp-items="socItems"></select><br/>


    @for (var i = 0; i < 8; i++) {
      <input name="CompanyType" type="checkbox" value="@socItems[i].Value" /> @socItems[i].Text<br />
    }

    <button class="btn btn-secondary" type="submit">@Localizer["Confirm"]</button>
  </form>
</div>

<!-- <a asp-page="/WscBuilder/Step03_products_sold/Index">@Localizer["Go to next step"]</a>-->
